* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background: hsl(212, 45%, 89%);
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: white;
    width: 360px;
    height: fit-content;
    padding: 25px;
    text-align: center;
    border-radius: 20px;
    color: hsl(218, 44%, 22%);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.container img {
    width: 100%;
    border-radius: 10px;
}

.container h2 {
    margin: 20px 0;
}

.container p {
    margin: auto;
    color: hsl(216, 15%, 48%);
    font-size: 16px;
    line-height: 25px;
    width: 250px;
}

footer {
    position: absolute;
    bottom: 30px;
    text-align: center;
    margin: auto;
    color: hsl(216, 15%, 48%);
    width: 100%;
}

footer a {
    color: hsl(218, 44%, 22%);
}